Django==5.2.17
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
psycopg==3.3.4
django-cors-headers==4.9.0
celery==5.6.3
redis==8.1.0
django-environ==0.14.0
Pillow==12.0.0
drf-nested-routers==0.95.0
resend==2.23.0
google-genai==1.44.0
